/* NOTE: currently working on, color palette here: http://www.colourlovers.com/palette/4500807/ocean_rose */

body {
  background-color: #F9FBFC;
}

nav#mainmenu {
  background-color: #182A2E;
  /*NOTE: transparent doesn't do as well on mobile, so I took a swatch of this color via sip, which resulted in above rgba(0, 19, 23, 0.9);*/
}

.navHeader {
  color: #006F88;
}

/*TODO: eventually you'll have to deal with this, whether making a new logo with better linework, or adding a background*/
#logo {
  /*background: #F9FBFC;
  background: -webkit-radial-gradient(circle, rgba(249, 251, 252, 1), rgba(0, 19, 23, 0.7));
  background: -o-radial-gradient(circle, rgba(249, 251, 252, 1), rgba(249, 251, 252, 0.7));
  background: -moz-radial-gradient(circle, rgba(249, 251, 252, 1), rgba(249, 251, 252, 0.7));
  background: radial-gradient(circle, rgba(249, 251, 252, 1), rgba(249, 251, 252, 0.7));
  border-radius: 4em;
  box-shadow: 0 0 50px #006F88;*/
}

.headerGradient {
  background: #006F88;
  background: -webkit-linear-gradient(left, #182A2E , #006F88);
  background: -o-linear-gradient(right, #182A2E, #006F88);
  background: -moz-linear-gradient(right, #182A2E, #006F88);
  background: linear-gradient(to right, #182A2E , #006F88);
  /*background: rgba(0, 111, 136, 0.7);
  background: -webkit-linear-gradient(rgba(0, 111, 136, 0.7), rgba(249, 251, 252, 1));
  background: -o-linear-gradient(rgba(0, 111, 136, 0.7), rgba(249, 251, 252, 1));
  background: -moz-linear-gradient(rgba(0, 111, 136, 0.7), rgba(249, 251, 252, 1));
  background: linear-gradient(rgba(0, 111, 136, 0.7), rgba(249, 251, 252, 1));*/
}

.headerTitle {
  color: #006F88;
}

.headerInfoTop {
  color: #006F88;
}

.headerInfoBottom {
  color: #006F88;
}

nav#mainmenu a {
  color: #F9FBFC;
}
